*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700';

body {
  font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  background-color: #2d3042;
  position: relative;
  color: #efefef;
  text-align: center;
	font-family: "Open Sans";
  font-weight: 300;
  /*background: #2d2d2d;*/
	
}
body a, body a:visited {
  color: #efefef;
  text-decoration: none;
}
body a:hover {
  color: #fff;
}



.slick-slide, .slick-slide::before, .caption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  text-align: left;
  z-index: 1;
}
header h1 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  padding-top: 18px;
}
header nav {
  display: inline-block;
  float: right;
}
header nav ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
header nav ul li a {
  display: block;
  padding: 24px 15px;
}
header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

.main-slider {
  position: relative;
  width: 100%;
  height: 38vw;
  min-height: 8vw;
  margin-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
}
.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.slick-slide {
  position: relative;
  height: 38vw;
}
.slick-slide::before {
  background-color: #000;
  opacity: .3;
  z-index: 1;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 1;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  position: absolute;
  top: 44%;
  left: 5%;
  text-align: center;
  padding: 20px;
  border: 3px solid;
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .02em;
  opacity: 0;
  z-index: 1;
  transition: all .3s ease;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.slick-dots {
  text-align: center;
  padding-top: 17px;
	background-color: #2d3042;;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
	
	
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all .3s ease;
  opacity: .4;
	
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 2px #fff;
  opacity: 1;
	
}

.container {
  background-color: #f2f2f2;
  color: #444;
  line-height: 1.6;
  padding: 40px 0;
}
.container .content {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.container p {
  margin-bottom: 40px;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
		
  }
}

figure.rollover {
  flex: 1;
  margin: 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  max-width: 340px;
  max-height: 340px;
  background: #2d2d2d;
}
@media (max-width: 768px) {
  figure.rollover {
    max-width: none;
    max-height: none;
  }
}
figure.rollover + figure.rollover {
  margin-left: 20px;
}
@media (max-width: 768px) {
  figure.rollover + figure.rollover {
    margin-left: 0;
    margin-top: 20px;
  }
}
figure.rollover img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  figure.rollover img {
    opacity: 0.3;
  }
}
figure.rollover * {
  transition: all 0.33s ease-in-out;
}
figure.rollover:hover figcaption {
  opacity: 1;
}
figure.rollover figcaption {
  transition: all 0.33s ease-in-out;
  position: absolute;
 /* bottom: 5%;
  left: 5%;*/
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28.5px;
  opacity: 0;
	bottom: -80px;
	left: -13px;
	
}
@media (max-width: 960px) {
  figure.rollover figcaption {
    font-size: 20px;
    line-height: 18.5px;
  }
}
@media (max-width: 768px) {
  figure.rollover figcaption {
    opacity: 1;
    font-size: 30px;
    line-height: 28.5px;
  }
}
figure.rollover:hover img {
  opacity: 0.3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
figure.rollover .play-button {
  position: absolute;
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
/*  width: 75px;
  height: 75px;*/
  display: inline-block;
  /*border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;*/
}
@media (max-width: 768px) {
  figure.rollover .play-button {
    width: 100px;
    height: 100px;
  }
}
/*figure.rollover .play-button:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 3px;
  border-top: 21px solid transparent;
  border-left: 35px solid rgba(255, 255, 255, 0.6);
  border-bottom: 21px solid transparent;
}*/
@media (max-width: 768px) {
  figure.rollover .play-button:before {
    margin-left: 5px;
    border-top: 30px solid transparent;
    border-left: 50px solid rgba(255, 255, 255, 0.6);
    border-bottom: 30px solid transparent;
  }
}
	

/* ----- Navigation ----- */

.navpanel {
	position: -webkit-sticky;  Safari 
  position: absolute;
  top: 0;
	width: 100%;
	height: 60px;
  background: rgba(0,0,0,0.6);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.7);
  box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.7);
	z-index: 993;
  
}

.changenavbgopacity {
  background: rgba(0,0,0,0.8);
}


.navstyle {
  font-family: 'Hind Vadodara', sans-serif;
	font-size: 14px;
	font-weight: normal;
  letter-spacing: .4px;
	color: #c7c7c7;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 14px;
	
	
}

.navstyle:hover,
.navstyle:active {
  height: 43px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.4);
	color: #fff;
	text-shadow: 0px 0px 10px #fff
}

.navlogo {
  width: 108px;
  height: 30px;
  float: left;
	display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
	margin-left: 50px;
  border-radius: 5px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
  z-index:994;  
}

.navlogo:hover {
    
  
}

.menu {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 50px;
	padding-top: 19px;
	height: 100%;
  float: right;
	
}

.menu li {
  list-style: none;
  
  
}

.wsite-menu-default {
	float: right;
	margin-top: 0px;
}

.wsite-menu-default li {
	display: inline-block;
	
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

#mobile-input, #nav-trigger {
  display: none;
}

#navmobile {
  display: none;
}

/* 브랜딩 이미지 */

#branding_notsun article {
	width:1200px; margin:180px auto 90px
}
#branding_notsun h3  {
	font-weight:normal;font-size:38px;height:auto;line-height:1.313em;font-family:'NotoSansKr-Light';letter-spacing:-1px;
}
#branding_notsun .notsun_member {
	width:100%; height:292px; max-width:1860px; margin:90px auto 180px; background:url(../images/bg.jpg
	) 50% 50% no-repeat; background-size:100%
}
#branding_notsun .notsun_bg {
	width:100%; height:800px; background:url(../images/bg.jpg) 50% 50% no-repeat; background-size: cover;
}
/* 브랜딩 이미지 끝 */

/* 메인컨텐츠 시작 */
.main_overview{
    position: relative;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-top: -100px;
}
.main_overview .overview_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}
.main_overview .overview_cover .overview_contents{
    color:#fff;
    position:absolute;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
}
.main_overview .overview_cover .overview_contents ul{
    float: left;
    text-align: center;
    width: 299px;
    height: 130px;
    position: relative;
    top: 80px;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.main_overview .overview_cover .overview_contents ul:last-child{
    border-right: none;
}
.main_overview .overview_cover .overview_contents ul li{
    font-size: 14px;
}

.main_overview .overview_cover .overview_contents ul li:first-child{
    font-size: 70px;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    margin-top:45px;
}
.main_overview .overview_cover .overview_contents ul li:first-child span{
    font-size: 62px;
    font-family:'NotoSansKr-bold'
}
.main_overview .overview_cover .overview_contents ul li:nth-child(2){
    margin-top:40px;
    font-family:'NotoSansKr-Light'
}




/* 메인컨텐츠 끝 */

/* notsun_member 반응형 */
@media (max-width: 768px) {
	
  #branding_notsun article {
	width:600px; margin:180px auto 90px
}
	#branding_notsun h3  {
		font-weight:normal;font-size:38px;height:auto;line-height:1.313em;font-family:'NotoSansKr-Light';letter-spacing:-1px;
	}
	#branding_notsun .notsun_member {
		width:600px; height:292px; max-width:1860px; margin:90px auto 180px; background:url(../images/bg.jpg
		) 50% 50% no-repeat; background-size:100%
	}
	#branding_notsun .notsun_bg {
		width:100%; height:800px; background:url(../images/bg.jpg) 50% 50% no-repeat; background-size: cover;
	}
	

}

/* notsun_member 반응형 끝 */	


/* main_overview 반응형 */

@media (max-width: 900px) {
	
	.main_overview{
			position: relative;
			background: url(../images/bg.jpg) 50% 50% no-repeat;
			background-color: rgba(0,0,0,0.3);
		  left: 7%;
			background-size: cover;
			overflow: hidden;
			width: 600px;
			height: 300px;
			margin-top: -100px;
	}
	.main_overview .overview_cover{
			position: absolute;
			width: 600px;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.4);
		  
	}
	.main_overview .overview_cover .overview_contents{
			color:#fff;
			position:absolute;
			width: 600px;
		  height: 100%;
			left: 100%;
			margin-left: -600px;
	}
	.main_overview .overview_cover .overview_contents ul{
			float: left;
			text-align: center;
			width: 299px;
			height: 100px;
			position: relative;
			top: 50px;
			border-right: 1px solid rgba(255,255,255,0.5);
	}
	.main_overview .overview_cover .overview_contents ul:last-child{
			border-right: none;
	}
	.main_overview .overview_cover .overview_contents ul li{
			font-size: 14px;
	}

	.main_overview .overview_cover .overview_contents ul li:first-child{
			font-size: 30px;
			font-family:'Open Sans', sans-serif;
			font-weight: 700;
			margin-top:45px;
	}
	.main_overview .overview_cover .overview_contents ul li:first-child span{
			font-size: 62px;
			font-family:'NotoSansKr-bold'
	}
	.main_overview .overview_cover .overview_contents ul li:nth-child(2){
			margin-top:40px;
			font-family:'NotoSansKr-Light'
	}
}


/* main_overview 반응형 끝 */	
